<!DOCTYPE html>
<html>
  <head>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Khula:300">
    <link rel='stylesheet' href='../public/stylesheets/popup.css'>
  </head>

  <title>Instab</title>

  <body>
    <p><b>Instab</b></p>
    <br>
    <br>
    <p>Open a new tab to see the two most recent post by your favortite Instagram account!</p>
    <br>
    <p>Instab by kaisiedaisie</p>

    <!-- scripts -->
    <script src='../public/js/jquery.min.js'></script>
    <script src='../public/js/main.js'></script>
  </body>
</html>