* {
	margin: 0;
	padding: 0;
}

html, body, a {
  width: 100%;
  height: 100%;
}

div {
	height: 100%;
	width: 50%;
}

.div, a, a img, a video{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
	min-width: 100%;
  min-height: 100%;
}

.div0, .content0 {
  float: left;
}

.div1, .content1 {
  float: right;
}


.grayscale img, .grayscale video {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.grayscale:hover img, .grayscale:hover video {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.no-accesstoken-or-handle{
   background-color:#2a2a2a;
   align-items:center;
   display:flex;
  }
  
 .not-authenticated {
   background-color: #fda09e;
 }
 .intro-page {
   background:salmon;
   border-width: 5px;
   border-radius: 20px;
   padding: 30px;
   width: 400px;
   height: 450px;
   min-width: 300px;
   min-height: 400px;
   margin: 0 auto;
  }