* {
	margin: 0;
	padding: 0;
}

html, body, a, div {
  width: 100%;
  height: 100%;
}

div {
	height: 100%;
	width: 50%;
}

.left-content{
  float: left;
}

.right-content{
  float: right;
}

.div, a {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

a img, a video {
    flex-shrink: 0;
		min-width: 100%;
    min-height: 100%;
}

.grayscale img, .grayscale video {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.grayscale:hover img, .grayscale:hover video {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.no-accesstoken-or-handle{
  background-color:#2a2a2a;
  align-items:center;
  display:flex;
}

.intro-page {
  background:salmon;
  border-width: 5px;
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  height: 450px;
  min-width: 300px;
  min-height: 400px;
  margin: 0 auto;
}

h1, h2, h3{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

#new-handle-form {
  width: 90%;
  margin: 0 auto;
  height: 320px;
}

form {
  margin-bottom: 20px;
}

input {
  background-color: white;
  border-radius: 0.3em;
  border: 2px solid lightgray;
  box-sizing: border-box;
  min-width: 15em;
  outline: none;
  padding: 0.6em;
  width: 100%;
  margin-bottom: 10px;
}

input:hover {
  border-color: gray;
}

input:focus {
  border-color: salmon;
}

button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color:white;
  display: block;
  font-size: 15px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

button img, button div{
  height: 30px;
  padding: 0;
  float: left;
}

button img {
  margin: 5px 5px 5px 20px;
}

button div {
  width: 300px;
  margin: 5px 0px 5px 0px;
  line-height: 27px;
}

#btn-text {
  float: right;
}

p, #disclaimer {
  font-size: 19px;
  color: white;
  text-align: center;
}

br {
  line-height: 100px;
}

#disclaimer {
  font-size: 15px;
}